streamlit==1.36.0
langchain==0.2.11
langchain-community==0.2.10
langchain-huggingface==0.0.3
faiss-cpu==1.8.0.post1
pypdf==4.3.1
sentence-transformers==3.0.1
transformers==4.43.4
torch==2.3.1
accelerate==0.33.0
